{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>E-commerce Store</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>my E-commerce Store</h1>
    <div class="product">
        <img src="https://5.imimg.com/data5/SELLER/Default/2023/3/296178163/GX/GL/SD/186724856/vivo-mobile-phone.jpg" class="product-img" >
        <h2>Mobile</h2>
        <p class="price">Price:15000/-</p>
    </div>
    <a href="{% url 'product' %}">View Details</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'cart' %}">Cart</a>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>